@font-face {
    font-family: 'Tomorrow';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Tomorrow-Regular.woff2'),
        url('../../fonts/Tomorrow-Regular.woff');
}

@font-face {
    font-family: 'Tomorrow';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('../../fonts/Tomorrow-Medium.woff2'),
        url('../../fonts/Tomorrow-Medium.woff');
}

@font-face {
    font-family: 'Tomorrow';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../../fonts/Tomorrow-SemiBold.woff2'),
        url('../../fonts/Tomorrow-SemiBold.woff');
}