:root {
    /* colors */
    --first-company-color: #8dfe54;  
    --second-company-color: #4223ac;
    --backound-color: #121212;
    --text-color: #fff;
    /* animation */
    --animation-time: 250ms;

    /* endpoints */
    --moduil-size: 480px;
    --tablet-size: 768px;
    --desctop-size: 1200px;

    --bezier-function:cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
    font-family: 'Kanit';
    src: url('./src/fonts/Kanit-Medium.woff2') format('woff2'),
        url('./src/fonts/Kanit-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Oswald';
    src: url('./src/fonts/Oswald-Medium.woff2') format('woff2'),
         url('./src/fonts/Oswald-Regular.woff2') format('woff2');
}

body {
    font-family: 'Kanit', 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--backound-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color); 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.is-hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin: 0px auto;
    padding: 0px 15px;
    outline: 1px solid red;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.logo {
    width: 85px;
    flex-grow: 2;
}
.menu-button {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: var(--text-color);
}

.burger-menu{
    fill: #fff;
    transition-property: fill;
    transition-duration: var(--animation-time);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover .burger-menu,
.menu-button:hover .burger-menu{
    fill: var(--first-company-color);
}


@media screen and (max-width: 767px) {
    .menu-button {
        display: flex;  
        justify-content: flex-end;
    }
}

/* header */
.header{

}
.header__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 4;
}
.header__link{
    position: relative;
        
    padding-top: 33px;
    padding-bottom: 31px;
    text-transform: uppercase;
        
    font-weight: 500;
        
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after{
    display: block;
    position: absolute;
    bottom: 0px;
    
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    background-color: var(--first-company-color);
    
    border-radius: 2px;
    width: 100%;
    height: 4px;
    content: '';

}
.header__link:hover,
.header__link:focus {
    color: var(--first-company-color);
    fill: currentColor;
}
.header__link:hover::after,
.header__link:focus::after{
    transform: scaleX(1);
}
.header_contact {
    text-transform: uppercase;
    border: 1px solid var(--second-company-color);
    color: #fff;
    font-weight: 400;
    font-size: 19px;

    padding: 6px 12px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    flex-grow: 1;
}
.header_contact:hover{
    background-color: var(--second-company-color);
}
/* navigation */
.navigation{
    display: none;
}
@media screen and (min-width: 768px) {
    .navigation{
        display: flex;
        gap: 15px;
    }
}
@media screen and (min-width: 1200px) {
    .navigation{
        gap: 30px;
    }
}
.navigation__item{

}
.navigation__link{

}
/* mobile-menu */
.mobile-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity;
    transition-duration: var(--animation-time);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--backound-color);
    overflow: scroll;
    padding: 48px 40px;
    z-index: 999;
}

/* footer */

.footer{
    padding: 30px 0px;
}
.footer__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__navigation{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: 0 auto;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .footer__navigation{
        display: flex;
        justify-content: space-evenly;
    }
}

.footer__link {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    letter-spacing: 0.48px;
    border: 1px solid var(--first-company-color);
    padding: 6px 12px;
    text-align: center;
}

.footer__link:hover,
.footer__link:focus {
    color: var(--backound-color);
    fill: currentColor;
    background-color: var(--first-company-color);
}
