:root {
    /* colors */
    --first-company-color: #8dfe54;  
    --second-company-color: #4223ac;
    --backound-color: #252525;
    --text-color: #fff;
    --input-border-color: #b9bdce;
    --input-text-color: #b9bdce;

    /* animation */
    --animation-time: 250ms;

    /* endpoints */
    --moduil-size: 480px;
    --tablet-size: 768px;
    --desctop-size: 1200px;

    --bezier-function:cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
    font-family: 'Tomorrow';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Tomorrow-Regular.woff2'),
    url('../fonts/Tomorrow-Regular.woff');
}
@font-face {
    font-family: 'Tomorrow';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Tomorrow-Medium.woff2'),
        url('../fonts/Tomorrow-Medium.woff');
}
@font-face {
    font-family: 'Tomorrow';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Tomorrow-SemiBold.woff2'),
        url('../fonts/Tomorrow-SemiBold.woff');
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 0;
}

body {
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--backound-color);
    color: var(--text-color);
}

a{
    text-decoration: none;
    color: var(--text-color); 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
p,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.is-hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin: 0px auto;
    padding: 0px 15px;
    outline: 1px solid red;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.logo {
    width: 85px;
    flex-grow: 2;
}
.menu-button {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: var(--text-color);
}

.burger-menu{
    fill: #fff;
}
.menu-button:hover .burger-menu,
.menu-button:focus .burger-menu{
    fill: var(--first-company-color);
}
@media screen and (max-width: 767px) {
    .menu-button {
        display: flex;  
        justify-content: flex-end;
    }
}

/* header */
.header{

}
.header__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
@media screen and (max-width: 767px) {
    .header__nav {
        display: flex;
        justify-content: flex-end;
        flex-grow: 4;
    }
}
.header__link{
    position: relative;
        
    padding-top: 33px;
    padding-bottom: 31px;
    text-transform: uppercase;
        
    font-weight: 500;
        
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after{
    display: block;
    position: absolute;
    bottom: 0px;
    
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    background-color: var(--first-company-color);
    
    border-radius: 2px;
    width: 100%;
    height: 4px;
    content: '';

}
.header__link:hover,
.header__link:focus {
    color: var(--first-company-color);
    fill: currentColor;
}
.header__link:hover::after,
.header__link:focus::after{
    transform: scaleX(1);
}
.header__link--active {
    position: relative;

    padding-top: 33px;
    padding-bottom: 31px;

    font-weight: 500;

    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--first-company-color);
}
.header__link--active::after {
    display: block;
    position: absolute;
    bottom: 0px;


    background-color: var(--first-company-color);

    border-radius: 2px;
    width: 100%;
    height: 4px;
    content: '';
}
.header_contact {
    text-transform: uppercase;
    border: 1px solid var(--second-company-color);
    color: #fff;
    font-weight: 600;
    font-size: 19px;

    padding: 6px 12px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    flex-grow: 1;
}
.header_contact:hover,
.header_contact:focus,
.header_contact:active {
    background-color: var(--second-company-color);
}
@media screen and (max-width: 768px) {
    .header_contact {
        display: none;
    }
}
/* navigation */
.header__navigation{
    display: none;
}
@media screen and (min-width: 768px) {
    .header__navigation{
        display: flex;
        gap: 15px;
    }
}
@media screen and (min-width: 1200px) {
    .header__navigation{
        gap: 30px;
    }
}
/* mobile-menu */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--second-company-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 16px;

    width: 38px;
    height: 38px;

    border: none;

    background-color: #fff;
}

.menu-container .menu-toggle:hover,
.menu-container .menu-toggle:focus,
.menu-container .menu-toggle:active {
    background-color: var(--first-company-color);
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    margin-top: 48px;
    list-style: none;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
    width: 220px;
}

.mobile-menu__list .link {
    text-transform: uppercase;
    display: block;
    color: #fff;
    text-decoration: none;
    border: 1px solid var(--first-company-color);
    padding: 6px 12px;
    text-align: center;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__list .link:hover,
.mobile-menu__list .link:focus {
    color: var(--backound-color);
    fill: currentColor;
    background-color: var(--first-company-color);
}

.mobile-contact{
    text-transform: uppercase;
    display: block;
    border: 1px solid var(--first-company-color);
    padding: 6px 12px;
    text-align: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact:hover,
.mobile-contact:focus,
.mobile-contact:active {
    color: var(--backound-color);
    background-color: var(--first-company-color);
}

/* footer */
.footer{
    padding: 30px 0px;
}
.footer__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__navigation{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: 0 auto;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .footer__navigation{
        display: flex;
        justify-content: space-evenly;
    }
}

.footer__link {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    letter-spacing: 0.48px;
    border: 1px solid var(--first-company-color);
    padding: 6px 12px;
    text-align: center;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
    color: var(--backound-color);
    fill: currentColor;
    background-color: var(--first-company-color);
}

/* form */
.form__container {
    margin: 30px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 48px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .form {
        width: 600px;
    }
}

.form__label {
    position: relative;
    font-size: 12px;
    line-height: 1.16;
    width: 100%;
    letter-spacing: 0.01em;

    cursor: pointer;
}
.form__name-user {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.form__span {
    display: block;
    margin-bottom: 4px;
}
.form__input {
    padding: 11px 11px 11px 32px;
    width: 100%;
    height: 40px;
    color: #fff;
    border: 1px solid var(--input-border-color);
    background-color: var(--backound-color);
    outline: none;
    box-sizing: border-box;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:active {
    border: 1px solid var(--second-company-color);
    background-color: var(--backound-color);
}

.form__icon {
    position: absolute;
    left: 12px;
    top: 28px;
    fill: var(--input-border-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:active + .form__icon {
    fill: var(--second-company-color);
}

.form__comment {
    resize: none;
    height: 120px;
    width: 100%;
    border: 1px solid var(--input-border-color);
    background-color: var(--backound-color);
    outline: none;
    padding: 8px;
    color: #fff;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:hover,
.form__comment:active {
    border: 1px solid var(--second-company-color);
    background-color: var(--backound-color);
}

.form__comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.form__button {
    display: block;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    color: #fff;
    border: 1px solid var(--input-border-color);
    background-color: var(--backound-color);

    transition-property: border, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover,
.form__button:active {
    border: 1px solid var(--second-company-color);
    background-color: var(--second-company-color);
}

/* modal */
.modal {
    position: absolute;

    transition-property: border-color, visibility;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--bezier-function);

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 3;

    width: 528px;
    height: 581px;

    background-color: var(--background-color);
}

/* @media screen and (max-width: 1199px) {
    width: 450px;
    height: 609px;
} */

.modal__form {
    margin: 40px;
}

.modal__title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 1.15;
}

.modal__field {
    position: relative;
    margin-bottom: 10px;
}

.modal__label {
    display: block;
    margin-bottom: 4px;
}

.modal__input {
    cursor: pointer;
    transition-property: border-color;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--bezier-function);
}

.modal__input:hover,
.modal__input:focus {
    border-color: var(--company-color);
}

.modal__icon {
    transition-property: fill;
    transition-duration: var(--animation-time);
    transition-timing-function: var(--bezier-function);

    position: absolute;
    left: 12px;
    top: 28px;

    cursor: pointer;
}

.modal__link {
    color: var(--company-color);
    cursor: pointer;
}

.modal__buttom {
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 50px;
}

.modal__input:hover~.modal__icon,
.modal__input:focus~.modal__icon {
    fill: var(--company-color);
}